# 라이브러리 로드

In [1]:
import numpy as np
import pandas as pd

pd.set_option('max_columns', 150) # 최대 컬럼 갯수 지정
pd.set_option('max_rows', 80) # 최대 로우 갯수 지정
pd.options.display.float_format = '{:.2f}'.format  # pandas 결과값의 표현 범위 소수점 2자리수로 변경

##### 필요함수 정의

In [2]:
def load_data(path):
    df = pd.read_csv(path, encoding='CP949')
    df = df[ df['상권_구분_코드']=='A' ]  # 골목상권으로 테이블 제한
    
    return df

In [3]:
base_df = pd.read_csv('./data/base_data/df_base.csv')
base_df.head()

     상권_코드
0  1000001
1  1000002
2  1000003
3  1000004
4  1000005

# 데이터 로드

In [4]:
df = pd.read_csv('./data/row_data/매출액_데이터.csv')

In [5]:
df2 = df[['index', '2106금액_기타요식', '2106금액_일식/중식/양식','2106금액_제과/커피/패스트푸드', '2106금액_한식']].set_index('index')
df2 = df2.sum(axis=1).to_frame()
df2.columns = ['외식업_합계']

df2.head()

               외식업_합계
index
1000001 3401025679.00
1000002  282426210.00
1000003 2088953335.00
1000004 1048492657.00
1000005 4654973690.00

In [6]:
df_target = pd.merge(base_df, df2, right_index=True, left_on='상권_코드')

print(df_target.shape)
df_target.head()

(1009, 2)

     상권_코드        외식업_합계
0  1000001 3401025679.00
1  1000002  282426210.00
2  1000003 2088953335.00
3  1000004 1048492657.00
4  1000005 4654973690.00

In [8]:
path = './data/base_data/target.csv'

df_target.to_csv(path, index=False)
pd.read_csv(path).head()

     상권_코드        외식업_합계
0  1000001 3401025679.00
1  1000002  282426210.00
2  1000003 2088953335.00
3  1000004 1048492657.00
4  1000005 4654973690.00